body {
    margin: 0;
    text-align: center;
}
header {
    background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg);
    background-size: cover;
    color: white;  
    padding: 50px 0px;

}
.container {
    max-width: 800px;
    margin: auto;
    border: solid 1px red;
}